{% extends "base.html" %}
{% block title %}Заявка успешно подана.{% endblock title %}
{% block header %}
{% endblock header %}

{% block content %}
<h2>Заявка успешно подана</h2>
<p>На указанный почтовый ящик высланы данные о заявке и ссылка для подтверждения. После перехода по этой ссылке, данные будут разосланы директорам мастерских, которые вы запросили.</p>
<p>В свободное от подобных размышлений время можно подумать о том, что стоит взять на школу. А ещё можно пока что скачать <a href="{{ STATIC_URL }}Pravila_jizni_na_Letnei_Shkole.pdf">свод неформальных правил жизни на Летней Школе</a>. Это что-то вроде сборника пожеланий, традиций и общих рекомендаций.</p>
{% endblock content %}
