    header h1,h2 {
        display: block;
        margin: 10px;
        font-weight: 900;
    }

    header h1 {
        font: 34px 'Segoe UI Semibold', 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
        margin-left: 0;
        width: 80px;
        height: 40px;
    }

    header h2{
        text-decoration: none;
        margin-left: 120px;
        margin-top: -30px;
        font: 28px 'Segoe UI Semibold', 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
        color: #FF0000;
        width: 80px;
        height: 40px;
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
    }

    header h3{
        text-decoration: none;
        margin-left: 220px;
        margin-top: -65px;
        border-left: 1px solid #DBDBDB;
        color: #707070;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 50px;
        font: 15px 'Segoe UI Light', 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
    }

    header {
        margin: 30px auto;
        width: 960px;
        border-bottom: 1px solid #DBDBDB;
    }

    header nav {
        font: 13px 'Segoe UI Light', 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
        margin-top: 30px;
        margin-bottom: 5px;
    }
    header nav a {
        margin-right: 10px;
        color: #707070;
    }
    header nav a:hover {
        color: #000000;
    }
    header nav a.current {
        color: #C00000;
        font-weight: bold;
    }
    header aside {
        margin-top: 5px;
        float: right;
    }
    header aside img {
        display: inline;
        border: none;
        width: 32px;
        height: 32px;
    }


