's|__ROOT__|/home/cra/public_html/issl|'
's|__ADMIN_EMAIL__|g-ss@mail.ru|'
's|__DBNAME__|issl_db|'
's|__SERVER_NAME__|issl.ru|'
's|__USER__|cra|g'
's|__MAILHOST__|mail.letnyayashkola.org|g'
's|__MAILPORT__|587|g'
's|__MAILUSER__|applications+letnyayashkola.org|g'
's|__MAILPASS__|monkey_business|g'
's|__SECRET_KEY__|random string of 50 symbols|g'
