<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <title>Нет такой буквы в этом слове %]</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" >
</head>
<body>
<div class='background'>
<header>
            <a href='/'><h1>Летняя Школа</h1></a>
</header>
<section>
<h2>Ой вэй!</h2>

<p>Вы пытаетесь найти страницу, которую я сам не могу найти. Очень может быть, что это просто опечатка, правда. Если это не так, то, скорее всего, мы уже сами ищем эту страницу. Попробуйте чуть позднее, хорошо? Мы будем ждать!</p>

</section>
</div>
</body>
</html>
