<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <title>Случилась какая-то подстава %]</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" >
</head>
<body>
<div class='background'>
<header>
            <a href='/'><h1>Летняя Школа</h1></a>
</header>
<section>
<h2>Ой вэй!</h2>

<p>Похоже, сервер не выдержал нагрузки и погрузился в сон (в непонятных ситуациях всегда ложитесь спать). Скорее всего, мы уже делаем всё возможное, чтобы его разбудить. Попробуйте чуть позднее, хорошо? Мы будем ждать!</p>

</section>
</div>
</body>
</html>
