{% extends "base.html" %}
{% block title %}Летняя Школа{% endblock title %}
{% block header %}
{% endblock header %}
{% block content %}
<p>Основная идея проекта&nbsp;&mdash; создание свободного образовательного пространства, в рамках которого студенты, профессионалы и школьники свободно общаются, обмениваются опытом и создают исследования, журналистские материалы в форматах газеты, радио, телевидения, фотографии.<p>

<h3>Наши принципы:</h3>
<ul>
<li>
<b>&laquo;Изменим мир к лучшему...&raquo;</b>. Это, наверное, звучит пафосно. Но все равно мы уверены, что наша главная задача&nbsp;&mdash; СДЕЛАТЬ ЛУЧШЕ ЭТОТ МИР И САМИХ СЕБЯ. А теперь попробуйте доказать обратное ;);
<li>
</li>
<b>&laquo;Над нами только небо...&raquo;</b>. Летняя школа&nbsp;&mdash; это независимый проект, не встроенный ни в государственную, ни в школьную, ни вузовскую систему. Мы сами себе государство. У нас нет &laquo;заказчика&raquo;&nbsp;&mdash; какой-нибудь партии, какого-нибудь министерства, каких-нибудь &laquo;наших&raquo; или кого еще. Мы не получаем никаких указаний как работать и как учить. Поэтому наш результат и наш комфорт зависит только от нас. Это, кстати, сложнее.
<li>
</li>
<b>&laquo;За нами только поле...&raquo;</b>. Слово &laquo;поле&raquo; употреблено здесь сразу во многих смыслах. Во-первых, это реальное поле в окрестностях лагеря, где мы размещаемся. Во-вторых, это подчеркивает нашу ориентацию на полевые исследования, то есть&nbsp;&mdash; на познание реальности через непосредственный контакт с нею (в противовес &laquo;реферативным&raquo; работам). А в-третьих... Ну это опять про независимость.
</li>
<li>
<b>&laquo;Все самые лучшие вещи делаются совершенно бесплатно...&raquo;</b>. Летняя школа&nbsp;&mdash; это сугубо волонтерский проект. Никто не получает прибыли, наоборот&nbsp;&mdash; и участники, и преподаватели, и дирекция сами платят взносы, которые идут о обеспечение лагеря и прочие нужды. Даже, если нам удастся найти каких-либо спонсоров, полученные средства пойдут, в первую очередь, на обустройство Школы, а не на зарплаты и гонорары.
</li>
<li>
<b>&laquo;Все равны и все не равны...&raquo;</b>. Не хочется создавать иерархию &laquo;старший преподаватель летней школы&raquo;, &laquo;младший студент летней школы&raquo; и так далее. Деление на &laquo;школьников&raquo;, &laquo;ассистентов&raquo;, &laquo;преподавателей&raquo; является скорее формальностью. Хочется, чтобы люди отличались задачами: &laquo;человек, который сегодня руководит ежедневной газетой&raquo;, &laquo;человек, который отвечает за порядок в кабинете&raquo;, &laquo;человек, который завтра дежурит по лагерю&raquo;, &laquo;человек, который отвечает за курс по теории жанров&raquo;, &laquo;человек, который организует дискуссию о профессиональной этике&raquo;...
</li>
<li>
<b>&laquo;Это сделать невозможно, но мы это сделаем...&raquo;</b>. Летняя школа&nbsp;&mdash; это эксперимент для всех. Хочется перестать бояться. Убрать в себе страх&nbsp;&mdash; &laquo;это мне не по зубам&raquo;, &laquo;кто мы такие, чтобы за это браться&raquo;, &laquo;это слишком сложно&raquo; и так далее. Здесь все имеют право на ошибку (если, конечно, эта ошибка не угрожает здоровью и безопасности). Летняя школа&nbsp;&mdash; это, во многом, площадка для экспериментов. Хочется ставить перед собой задачи, за которые в обычной жизни, взяться бы не рискнули.
</li>
<li>
<b>&laquo;Жить надо в любви и трудностях...&raquo;</b>. Хочется создать очень добрую систему. Где поймут, пожалеют, скажу комплименты, утрут слезы и сопли. Но эта система вовсе не мягкая и пушистая. Задачи, которые ставятся перед каждым, могут быть очень трудными, порой&nbsp;&mdash; экстремальными.
</li>
<li>
<b>&laquo;У нас нет лучших и худших...&raquo;</b>. У нас принципиально НЕконкурентная система. Мы не определяем лучшие номера газеты, не ставим оценки за прослушанные курсы (только зачет/незачет), не выбираем лучшую статью. Проект&nbsp;&mdash; статья, исследование, курс&nbsp;&mdash; может быть сделан (и на это нужно немало труда), а может быть провален. Но один проект не может быть лучше другого проекта. Мы считаем, что конкуренция по принципу &laquo;обгони другого&raquo; является не самым лучшим источником мотивации. Куда важнее просто сделать интересный продукт, доказать свои способности, научиться новому, продемонстрировать сделанное, принести пользу другим. А уж, если с кем-то соревноваться, то лучше&nbsp;&mdash; с самим собой. Главный конкурент &laquo;Я-сегодняшнего&raquo;&nbsp;&mdash; это &laquo;Я-завтрашний&raquo;.
</li>
<li>
<b>&laquo;Все учат, все учатся...&raquo;</b>. У нас получается континуум от школьников, кончивших 7-й класс и до профессоров Высшей школы экономики. Все мы перемешаны в единую кучу.. Мне кажется, невозможным построить четкое разделение. Кто более продвинут&nbsp;&mdash; начинающая журналистка, свободная владеющая пятью языками или маститый редактор, едва лепечущий по-английски?
</li>
<li>
<b>&laquo;Выбор между хорошим и лучшим...&raquo;</b>. Этот принцип многих заставляет нервничать. Чуть ли не каждый час вам придется делать выбор. Смотреть кино или готовить спектакль? Посетить семинар по квантовой физике или прослушать курс по социальной психологии? Вам придется постоянно принимать такие решения (и это сложнее, чем выбирать между Путиным и Зюгановым).
</li>
<li>
&laquo;Упорядочиваем хаос...&raquo;. На Летней школе нет наемных поваров. Уборщиков, охранников или менеджеров. Мы все делаем сами. Сами организуем себя. Сами обеспечиваем еду, порядок и безопасность. Это полезно и это эффективно.
</li>
<li>
<b>&laquo;Своих не бросаем...&raquo;</b>. Летняя школа должна превратиться из разового мероприятия в глобальную сеть поддержки. &laquo;Свои&raquo;&nbsp;&mdash; это не только те, с кем ты постоянно общался. В эту категорию попадают все, кто причастен к Летней школе. Поев однажды из нашего котла, человек должен рассчитывать на помощь и сочувствие, если он попадет в трудную ситуацию. Например, окажется в больнице или в тюрьме. Увы, такое порой случается.
</li>
<li>
<b>&laquo;Вне партий и церквей...&raquo;</b>. Мы&nbsp;&mdash; принципиально неполитический и нерелигиозный проект. Это не значит, что мы живем, отгородившись от общества кирпичной стеной. Просто не хотим строиться и вставать под чьи-то знамена. Если чуть ли не половина участников Летней школы выходила митинговать на Болотную площадь, это не означает, что у нас не будут рады комиссару движения &laquo;Наши&raquo; (если он, конечно, умный и приятный человек). Тот факт, что среди директоров Летней школы преобладают воинствующие атеисты, не отменяет коллективного похода желающих на богослужение в сельскую церковь. Конечно, у нас есть разумные ограничения. Мы вполне допускаем и либералов, и консерваторов, и социалистов, и коммунистов. А вот на фашиста мы посмотрим с явным недоверием.
</li>
<li>
<b>&laquo;Летняя школа не заканчивается летом...&raquo;</b>. Мы не просто делаем выезд на месяц. Летняя школа&nbsp;&mdash; это постоянный цикл проектов, которые продолжаются каждый год. Флеровские чтения, Медицинская олимпиада, Медиаполигон, &laquo;24 часа&raquo;, &laquo;Летняя школа выходит на площадь&raquo; и т.д. Хочется, чтобы таких проектов было больше.
</li>
</ul>
<p>
<b>Вообще принципов может быть больше. Каждый имеет право придумать что-то свое. И давайте делать это вместе.</b>
</p>
{% spaceless %}
<div id='inside'>
<a href="http://twitter.com/shkolarr">
    <figure class="contacts" id="twitter">
        <img src="{{ STATIC_URL }}twitter-icon_gray.png" width=50 alt="twitter">
        <figcaption>
            @shkolarr
        </figcaption>
    </figure>
</a>
<a href="mailto:shkolarr@yandex.ru">
    <figure class="contacts" id="mail">
        <img src="{{ STATIC_URL }}mail-icon_gray.png" width=50 alt="mail">
        <figcaption>
            shkolarr@yandex.ru
        </figcaption>
    </figure>
</a>
<a href="http://vk.com/shkolarr">
    <figure class="contacts" id="vk">
        <img src="{{ STATIC_URL }}vkontakte-icon_gray.png" width=50 alt="vk">
        <figcaption>
            vk.com/shkolarr
        </figcaption>
    </figure>
</a>
</div>

<h3>наши мастерские. Без эмблемммммок (привет, Люба!)</h3>
<ul id="workshops-list">
    {% for w in object_list %}
    {% spaceless %}
    <li>
    {#<a href="{% url workshop_about w.slug %}"><figure><img src="{{ w.badge.url }}" alt="{{w.name}}"><figcaption>{{ w.name }}</figcaption></figure></a>#}
    <a href="{% url workshop_about w.slug %}">{{ w.name }}</a>
    </li>
    {% endspaceless %}
    {% endfor %}
</ul>
<h3>новости</h3>
<p>На данном этапе слабонервным рекомендуется заготовить прочные стальные вилки для втыкания в глаз</p>
{% endspaceless %}
{% endblock content %}
